<div class="alignleft">
  Copyright &copy; <%= new Date().getFullYear() %><% if (config.author){ %> - <%= config.author %><% } %> - Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>
</div>
<div class="clearfix"></div>